/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFE7E3;

$mainColor: #ffffff;
$headingColor:rgb(232, 143, 164);

$mainFontSize: 42px;
$mainFont: 'Sedgwick Ave', cursive, Helvetica, sans-serif;
$headingFont: 'Sedgwick Ave', cursive, Helvetica, sans-serif;
$headingTextShadow: 1px 3px 5px #000;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #c91478;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

@mixin bodyBackground() {
	background-color: $backgroundColor;
  background-image: url("../../img/croppedglass.jpg");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center right;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
@import "../template/custom";
